!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Room for Rent List</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/">Home</a></li>
                <li><a href="addlisting">Add Listing</a></li>
                <li><a href="updatelisting">Update a Listing</a></li>
                <li class="active"><a href="roomlist">Rental List</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <h1>Rental Rooms List</h1>


    <div th:if="${roomList!=null}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Price</th>
                <th class="text-danger">Is Rented</th>
                <th>Update</th>
                <th>More Info</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room:${roomList}">
                <td th:text="${{room.id}}">
                    Number
                </td>
                <td th:text="${{room.address}}">
                    Name
                </td>
                <td th:text="${{room.city}}">
                    City
                </td>
                <td th:text="${{room.state}}">
                    State
                </td>
                <td th:text="${{room.price}}">
                    Price
                </td>
                <div th:if="${room.isRented=='Yes'}">
                    <td class="danger"  th:text="${{room.isRented}}">
                        isRented
                    </td>
                </div>
                <div th:if="${room.isRented=='No'}">
                    <td class="success" th:text="${{room.isRented}}">
                        isRented
                    </td>
                </div>
                <td>

                </td>
                <td>
                    <a th:href="@{'/details/'+${room.id}}">More Details</a>

                </td>

            </tr>
            </tbody>
         </table>

    </div>



</div>
</body>
</html>